body{
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  font-family: "PTSans";
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
img {
  border: 0;
  display: block;
}
.wrapper{
  .container();
  .clearfix();
  box-shadow: 0 -5px 9px 2px #dbdbdb;
}
