.hotel-searcher{
  .container();
}
.hotel-searcher__wrapper{
  .container();
  min-height: 290px;
  padding-top: 34px;
  padding-bottom: 49px;
  // padding-left: 20px;
  // padding-right: 20px;
}
.hotel-searcher__title{
  text-transform: uppercase;
  text-align: center;
}
.hotel-searcher__text{
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}
@media @tablet-widths {
  .hotel-searcher{
    float: left;
    min-height: 318px;
  }
  .hotel-searcher__wrapper{
    padding-top: 58px;
    padding-bottom: 58px;
    // padding-left: 155px;
    // padding-right: 155px;
    // width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media @desktop-widths {
  .hotel-searcher__wrapper{
    width:460px;
    min-height: 331px;
    padding-bottom: 66px;
    // padding-left: 372px;
    // padding-right: 372px;
  }
}
