.main-nav__wrapper {
  .clearfix();
  .container();
  width: 100%;
  background: #fff;
}
.main-nav__list {
  margin: 0 0;
  padding: 0;
  list-style: none;
}
.menu__link {
  color: #000;
}
.menu__link:hover {
  color: @light-blue;
}
.menu__link:active {
  color: #000;
}

.menu__link {
  background-color: @bg-color-base;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
  color: @color-white;
  cursor: pointer;
  display: block;
  padding: 18px 20px;
  text-decoration: none;
}
.menu__link:hover {
  background-color: @bg-color-hover;
}
.menu__link:active {
  background-color: @bg-color-active;
  color: @color-active;
}

// .main-nav__item a{
//   display: block;
//   // padding: 18px 20px;
//   background-color: #81b3d2;
//   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(1, 1, 1, 0.2);
//   text-decoration: none;
// }
.main-nav__item{
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-nav{
  position: relative;
}
.main-nav__toggle{
  height: 26px;
  width: 26px;
  position: relative;
  margin-top: 13px;
  float: right;
  right: 20px;
  font-size: 0;
  line-height: 0;
  background: url("/img/icon-menu.svg") no-repeat 50% 50%;
  background-color: transparent;
  border: none;
}
.main-nav__close-mnu{
  position: relative;
  float: right;
  right: 20px;
  top: 18px;
  height: 26px;
  width: 26px;
  font-size: 0;
  line-height: 0;
  background: url("../img/icon-cross.svg") no-repeat 50% 50%;
  background-color: transparent;
  border: none;
}
@media @tablet-widths {
  .main-nav__wrapper{
    .clearfix();
    width: 100%;
  }
  .main-nav__list{
    width: 100%;
  }
  .main-nav__item{
    width: 20%;
    padding: 15px 0;
    background-color: #fff;
    float: left;
  }
  .main-nav__item:nth-child(2){
    margin-right: 20%;
  }
  .menu__link{
    padding: 0;
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    box-shadow: none;
  }
  .menu__link:hover{
    color: @color-hover;
    background-color: #fff;
  }
  .menu__link:active{
    color: #d5d5d5;
    background-color: #fff;
  }
  .main-nav__close-mnu{
    display: none;
  }
  .main-nav__toggle{
    display: none;
  }
  .page-header__logo{
    top: -56px;
    position: absolute;
    z-index: 1;
  }
}
.page-header__logo{
  margin-left: auto;
  margin-right: auto;
  width: 102px;
  position: relative;
  z-index: 1;
}
@media @desktop-widths {
  .page-header__logo {
    margin-left: auto;
    margin-right: auto;
    width: 187px;
    position: relative;
    z-index: 1;
  }
}
@media @mobile-widths-only {
  .menu__link{
    color: #fff;
  }
  .main-nav--closed .main-nav__wrapper{
    display: none;
  }
  .main-nav--opened .main-nav__toggle{
    background: url(/img/icon-cross.svg) no-repeat 50% 50%;
  }
  .menu__link:hover{
    background-color: #669ec0;
  }
  .menu__link:active {background-color: #5496bd;
    color: #91b7d1;
  }
  .main-nav--nojs .main-nav__wrapper{
    display: block;
  }
  .main-nav--nojs .main-nav__toggle{
    display: none;
  }
}
