.page-header{
  color: white;
  font-family: PTSans;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;

}
.main-nav__list{
  margin: 0 0;
}
.main-nav__item{
  width: 320px;
  padding: 21px 20px;
  background-color: #81b3d2;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(1, 1, 1, 0.2);
  text-align: center;
  list-style-type: none;

}
.main-nav__item a{
  text-decoration: none;
  color: white;
}
