.page-header{
  color: white;
  font-family: PTSans;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.main-nav__wrapper{
  .clearfix();
  .container();
  width: 100%;
}
.main-nav__list{
  margin: 0 0;
  padding: 0;
  list-style: none;
}

.main-nav__item a{
  // width: 280px;
  display: block;
  padding: 18px 20px;
  background-color: #81b3d2;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(1, 1, 1, 0.2);


  text-decoration: none;
  color: white;

}


.main-nav__item{
  margin: 0;
  padding: 0;
  text-align: center;

}
.main-nav{
  position: relative;
}
.main-nav__toggle{
  height: 26px;
  width: 26px;
  position: relative;
  margin-top: 13px;
  float: right;
  right: 20px;
  font-size: 0;
  line-height: 0;
  background: url("../img/icon-menu.svg") no-repeat 50% 50%;
  background-color: transparent;
  border: none;
}

.main-nav__close-mnu{
  position: relative;
  float: right;
  right: 20px;
  top: 18px;
  height: 26px;
  width: 26px;
  font-size: 0;
  line-height: 0;
  background: url("../img/icon-cross.svg") no-repeat 50% 50%;
  background-color: transparent;
  border: none;
}

@media @tablet-widths {

  .main-nav__item{

    width: 20%;
    padding: 18px 0;
    background-color: #fff;
    float: left;
  }

  .main-nav__item:nth-child(3){
    float: right;
  }
  .main-nav__item:nth-child(4){
    float: right;
  }
  .main-nav__item a{
    padding: 0;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: black;
    box-shadow: none;
  }
  .main-nav__close-mnu{
    display: none;
  }
  .main-nav__toggle{
    display: none;
  }
  .page-header__logo{
    margin-top: -56px;
    position: relative;
    z-index: 1;
  }
}

.page-header__logo{
  margin-left: auto;
  margin-right: auto;
  width: 102px;
}
.page-header__logo img{
  height: 84px;
}
@media @mobile-widths-only {
  .main-nav--closed .main-nav__wrapper{
    display: none;
  }
  .main-nav--opened .main-nav__toggle{
    background: url(../img/icon-cross.svg) no-repeat 50% 50%;
  }
  .main-nav__item a:hover{
    background-color: #669ec0;
  }
  .main-nav__item a:active {background-color: #5496bd;
  color: #91b7d1;}

  .main-nav--nojs .main-nav__wrapper{
    display: block;
  }
  .main-nav--nojs .main-nav__toggle{
    display: none;
  }
}
