.page-main__intro-wrapper{
  margin-top: -34px;
  background: url("/img/bg-back-mobile@1x.jpg") no-repeat 50% 0px;
  height: 390px;
  width: auto;
}
.page-main__slogan{
  width: 300px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
}
.page-main__slogan-title{
  margin: 40px 0 29px;
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.page-main__slogan-text{color: #333;
  font-size: 14px;
  font-weight: 400;
}
