.page-main__slogan{
  width: 300px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
}
.page-main__slogan-title{
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.page-main__slogan-text{color: #333;
  font-size: 14px;
  font-weight: 400;
}
