.page-footer{
}
.page-footer__wrapper{
  .container();
  .clearfix();
  min-height: 243px;
}
.page-footer__hashtag{
  float: left;
  margin-top: 42px;
  margin-bottom: 0;
  text-align: center;
  font-family: PTSans;
  font-size: 21px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  width: 100%;
}
.page-footer__social{
  margin-top: 43px;
  margin-bottom: 0;

  width: 100%;
  display: block;
  float: left;
}
.page-footer__copyright{
  // .clearfix();
  // margin-top: 42px;
  // margin-bottom: 23px;
  // margin-left: 80px;
  // display: block;
  // float: left;
  // width: 35%;
  // text-align: center;
  margin: 0 auto;

    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000;
}
.page-footer__copyright span{display: inline-block;
    vertical-align: middle;}
.page-footer__copyright-link{
  margin-top: 31px;
  text-decoration: none;
  text-transform: uppercase;
  width: 18%;
  float: right;
  margin-right: 68px;
}
.page-footer__copyright a{
  width: auto;
  float: left;
  font-size: 0;
    height: 53px;
}
.page-footer__copyright img{
  float: right;
}
@media @tablet-widths {
  .page-footer__wrapper{
    min-height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .page-footer__hashtag{
    display: block;
    float: left;
    width: 33%;
  }
  .page-footer__social{
    width: 34%;
    float: left;
    display: block;
  }
  .page-footer__copyright{
    width: 33%;
    // float: left;
    // display: block;
    margin-left: 0;
    /* display: block; */
    /* float: left; */
  }
}
@media @desktop-widths {
  .page-footer__wrapper{
  }
}
