.page-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
}
.page-footer__hashtag {
  font-size: @font-size-large;
  font-weight: bold;
  margin-bottom: 36px;
}
.page-footer__social{
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}
.social-link {
  background-color: @bg-color-base;
  background-repeat: no-repeat;
  font-size: 0;
  height: 48px;
  margin-right: 6px;
  width: 46px;
}
.social-link:last-child {
  margin-right: 0;
}
.social-link__icon {
  fill: @color-white;
}
.social-link--twitter .social-link__icon {
  height: 14px;
  width: 18px;
  margin-top: 17px;
}
.social-link--facebook .social-link__icon {
  height: 18px;
  width: 9px;
  margin-top: 14px;
}
.social-link--youtube .social-link__icon {
  height: 14px;
  width: 20px;
  margin-top: 17px;
}
.social-link:hover {
  background-color: @bg-color-hover;
}
.social-link:active {
  background-color: @bg-color-active;
  fill: @color-active-social;
}
.social-link:active .social-link__icon {
  fill: @color-active-social;
}
.page-footer__copyright {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.copyright__title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 0 8px;
}
.copyright__link {
  display: flex;
  margin-left: 5px;
}
.copyright__icon {
  width: 42px;
  height: 42px;
  fill: #000;
}
.copyright__image:hover {
  fill: @color-hover;
}
.copyright__image:active {
  fill: @color-active-copyright;
}
@media @tablet-widths {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
  .page-footer__hashtag {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 9px;
  }
  .page-footer__copyright {
    align-items: flex-start;
    margin-top: 2px;
  }
  .copyright__title {
    margin-left: 15px;
    margin-top: 7px;
  }
  .copyright__icon {
    padding: 0;
  }
}
@media @desktop-widths {
  .page-footer {
    justify-content: space-between;
  }
  .page-footer__hashtag {
    margin-left: 132px;
    margin-right: 15px;
  }
  .page-footer__social{
    margin-right: 97px;
  }
  .page-footer__copyright {
    margin-right: 35px;
  }
  .copyright__title {
    margin-right: 0;
  }
}
