.video-presentation{
  float: left;

}
.video-presentation__wrapper{
  .container();
  .clearfix();
}
.video-player{
  width: 100%;
  float: left;
}
.video-player__controls{
  .clearfix();
  background: rgba(1, 1, 1, 0.2);
  height: 93px;
  width: auto;
}
.video-player__icon--repeat{
  float: left;
  width: 25px;
  height: 25px;
  background: url("/img/icon-video-replay.svg") no-repeat;
}
.video-player__icon--cc{
  float: left;
  width: 50px;
  height: 25px;
  background: url("/img/icon-video-subtitles.svg") no-repeat;
}
.video-player__icon--full{
  float: left;
  width: 50px;
  height: 25px;
  background: url("/img/icon-video-fullscreen.svg") no-repeat;
}
